﻿@model IEnumerable<Techniqly.SportsStore.Web.Models.ProductViewModel>

@{
    ViewBag.Title = "All Products";
}

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Description</td>
            <td>@p.Price.ToString("c")</td>
        </tr>
    }
</table>
